<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>/bin/&#x127; &mdash; Jake Lishman</title>
    <link rel="stylesheet" href="/fonts/include-min.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/text.css">
    <link rel="license" href="#licence">
</head>
<body>
<div class="colour-wrapper" id="header-colour-wrapper">
<header class="content" id="page-header">
    <h1 class="monospace"><a href="/">&#x23;!/bin/&#x127;</a></h1>
    <p id="tagline">Blog of <i class='space-correction'></i>Jake Lishman</p>
    <div id="tab-bar">
        <div id="follow">
            <ul>
                <li><a id="follow-email" href="mailto:jake@binhbar.com" title="Email me">e</a></li><li><a id="follow-github" href="https://www.github.com/jakelishman" title="See my code">g</a></li><li><a id="follow-linkedin" href="https://www.linkedin.com/in/jakelishman" title="Try to recruit me?">l</a></li><li><a id="follow-academic" href="https://www.imperial.ac.uk/people/jake.lishman16" title="View my academic profile">a</a></li>
            </ul>
        </div>
        <nav id="main-nav">
            <ul>
                <li class="tab tab-current" id="tab-blog"><a href="/">Blog</a></li><li class="tab" id="tab-about"><a href="/about/">About Me</a></li>
            </ul>
        </nav>
    </div>
</header>
</div>
<div class="colour-wrapper" id="main-colour-wrapper">
<div class="content" id="main-wrapper">
<main>
    <h1>Recent posts</h1>
    <article class="summary">
        <header>
            <h2 class="article-title"><a href="2018/07/most-recent-post">Most recent post</a></h2>
            <p class="byline">
                by <span class="author">Jake Lishman</span> on the
                <time datetime="2018-07-21T23:37Z">21st of July, 2018</time>.
            </p>
        </header>
        <main>
        <p>
            The summary for the first article on the page might not be very
            long, but I can change it to suit my needs.  Sometimes I might
            choose to have only the first couple of paragraphs displayed, or
            maybe if I write short articles, I'll have the whole thing displayed
            at once.  Who knows?
        </p><p>
            This particular article goes on for at least two paragraphs so I can
            get a littler bit of a feel for the text.  There will also be
            another article following this one so I can get a feel for the
            spacing as well.
        </p>
        </main>

        <footer>
            <p class="read-more"><a href="2018/07/most-recent-post">Read more&#8230;</a></p>
        </footer>
    </article>

    <article class="summary">
        <header>
            <h2 class="article-title"><a href="2018/07/first-post">First post</a></h2>
            <p class="byline">
                by <span class="author">Jake Lishman</span> on the
                <time datetime="2018-07-21T22:33Z">21st of July, 2018</time>.
            </p>
        </header>

        <main>
        <p>
            This one would be the first post that I made on the site.
        </p><p>
            This particular article goes on for at least two paragraphs so I can
            get a littler bit of a feel for the text.  There will also be
            another article following this one so I can get a feel for the
            spacing as well.
        </p>
        </main>

        <footer>
            <p class="read-more"><a href="2018/07/first-post">Read more&#8230;</a></p>
        </footer>
    </article>
    <p id="next-front-page"><a href="/page/2">More articles&#8230;</a></p>
</main>
<aside id="sidebar">
    <img id="photo" src="/images/profile-photo-160.jpg">
    <p id="bio">I'm a PhD student in physics at Imperial College London, working on
    improving quantum gate fidelities in trapped ions.  Mostly I write about
    the tools I use.</p>
    <section id="sidebar-links">
        <section id="tags">
            <h2>Tags</h2>
            <ul class="sidebar-link-list">
                <li><a href="tags/vim">vim</a></li>
                <li><a href="tags/gnuplot">gnuplot</a></li>
                <li><a href="tags/LaTeX">LaTeX</a></li>
                <li><a href="tags/python">python</a></li>
                <li><a href="tags/physics">physics</a></li>
            </ul>
        </section>
        <section id="recent-posts">
            <h2>Recent posts</h2>
            <ol class="sidebar-link-list">
                <li><a href="posts/2018/07/most-recent-post">Most recent post</a></li>
                <li><a href="posts/2018/07/first-post">First post</a></li>
            </ol>
        </section>
    </section>
</aside>
</div>
</div>
<div class="colour-wrapper" id="footer-colour-wrapper">
<footer id="page-footer" class="content">
    <nav id="footer-nav">
        <div class="footer-nav-section">
            <h2>Internal Links</h2>
            <ul>
                <li id="tab-blog" class="current-tab"><a href="/">Blog</a></li>
                <li id="tab-about"><a href="/about/">About Me</a></li>
            </ul>
        </div>
        <div class="footer-nav-section">
            <h2>External Links</h2>
            <ul>
                <li><a href="https://www.github.com/jakelishman">GitHub: jakelishman</a></li>
                <li><a href="https://www.linkedin.com/in/jakelishman">LinkedIn</a></li>
                <li><a href="https://www.imperial.ac.uk/people/jake.lishman16">Imperial College London</a></li>
            </ul>
        </div>
    </nav>
    <div id="licence">
        <h2>Licences</h2>
        <p>
            Unless explicitly stated otherwise, articles on this website are licensed under the <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution Share-Alike licence version 4.0</a> and source code samples and files are licensed under the <a href="/LICENCE.txt">MIT licence</a>.
    </p></div>
</footer>
</div>
</body>
</html>
